body {
    font-family: Arial;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow: hidden; /* Verhindert Scrollen */
    background-image: url("htl_logo.png"); /* Verwende den Pfad zu deinem Logo */
    background-size: 20%; /* Bild an Bildschirmgröße anpassen */
    background-position: center; /* Bild in der Mitte zentrieren */
    background-repeat: no-repeat; 
}

hr {
    width: 200px;
    margin: 10px auto; /* Centers the line */
}

#board {
    width: 400px;
    height: 400px;
    background-color: rgba(205, 193, 181, 0.8); /* Leicht transparente Kacheln */
    border: 8px solid #bbada0;
    display: flex;
    flex-wrap: wrap;
}

.tile {
     width: calc(100% / 4 - 5px); /* Größe der Kacheln minus Rand */
    height: calc(100% / 4 - 5px); /* Größe der Kacheln minus Rand */
    border: 5px solid #bbada0;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* centered text for title and score */
h1, h2 {
    margin: 0;
    padding: 0;
}

/* colored tiles */
.x2 {
    background-color: rgba(238, 228, 218, 0.6);
    color: white;
}

.x4 {
    background-color: rgba(236, 224, 202, 0.6);
    color: white;
}

.x8 {
    background-color: rgba(244, 177, 122, 0.6);
    color: white;
}

.x16 {
    background-color: rgba(245, 149, 117, 0.6);
    color: white;
}

.x32 {
    background-color: rgba(245, 124, 95, 0.6);
    color: white;
}

.x64 {
    background-color: rgba(246, 93, 59, 0.6);
    color: white;
}

.x128 {
    background-color: rgba(237, 206, 113, 0.6);
    color: white;
}

.x256 {
    background-color: rgba(237, 204, 99, 0.6);
    color: white;
}

.x512 {
    background-color: rgba(237, 198, 81, 0.6);
    color: white;
}

.x1024 {
    background-color: rgba(238, 199, 68, 0.6);
    color: white;
}

.x2048 {
    background-color: rgba(236, 194, 48, 0.6);
    color: white;
}

.x4096 {
    background-color: rgba(254, 61, 61, 0.6);
    color: white;
}

.x8192 {
    background-color: rgba(255, 32, 32, 0.6);
    color: white;
}

/* disable text selection */
* {
    user-select: none; /* Deaktiviert Textauswahl für alle Elemente */
    -webkit-user-select: none; /* Für WebKit-basierte Browser wie Chrome, Safari */
    -moz-user-select: none; /* Für Mozilla-basierte Browser wie Firefox */
    -ms-user-select: none; /* Für ältere Internet Explorer Versionen */
}

#gameOver {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
